header{
    height: 100px;
    background-color: rgb(253, 205, 0);
    width: 63%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Fuse";
    padding-right: 10px;
}

#header-image{
    height: 95px;
    cursor: pointer;
}

header input{
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 45%;
    margin-left: -30px;
}

header button{
    margin-right: 20px;
    padding: 10px 40px;
    border: none;
    font-family: "Fuse";
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}
header button:hover{
    background-color:lightgoldenrodyellow;
}